canvas {
  position: fixed;
  top: 0;
  left: 0;
}

main {
  position: absolute;
}

p {
  display: black;
}

#scrollProgress {
  position: fixed;
  color: red;
  bottom: 10px;
  left: 10px;
  z-index: 99;
  font-size: 8vh;
}
